

# SQLite examples

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [2]:
import pandas as pd
import sqlite3 as sqlite3

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## SQL Social-Network Query Exercises Extras
### Tables:
- 1. Highschooler ( ID, name, grade )
- 2. Friend ( ID1, ID2 )  The student with ID1 is friends with the student with ID2. Friendship is mutual, so if (1, 5) is in the Friend table, so is (5, 1).
- 3. Likes ( ID1, ID2 )  Liking someone is not necessarily mutual.
### 1.  Creating tables:

In [3]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()
#print(connection.total_changes)

########  creating table Frends
file = open("Friend.txt")
ss = file.read()
cursor.execute(ss)
connection.commit()
file.close()
###### insert data in Frends
file = open("Friend1.txt", "r")
ss = file.read()
cursor.executescript(ss)
connection.commit()
file.close()
#rows = cursor.execute("SELECT * FROM Friend;", "").fetchall()
#print(rows)

########  creating table Likes
file = open("Likes.txt")
ss = file.read()
cursor.execute(ss)
connection.commit()
file.close()
###### insert data in Likes
file = open("Likes1.txt", "r")
ss = file.read()
cursor.executescript(ss)
connection.commit()
file.close()

######## creating table  Highschooler
file = open("Highschooler.txt")
ss = file.read()
cursor.execute(ss)
connection.commit()
file.close()
###### insert data in Likes
file = open("Highschooler1.txt", "r")
ss = file.read()
cursor.executescript(ss)
connection.commit()
file.close()

In [6]:
rows = cursor.execute("SELECT * FROM Highschooler;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Friend;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Likes;", "").fetchone()
print(rows)

(1510, 'Jordan', 9)
(1510, 1381)
(1689, 1709)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## 2.  Examples:

- For every situation where student A likes student B, but student B likes a different student C, return the names and grades of A, B, and C.

In [19]:
sql_str = '''Select H1.name, H1.grade, H2.name, H2.grade, name3, grade3 from 
            (Likes join Highschooler as H1 on Likes.ID1 = H1.ID) join Highschooler as H2 on Likes.ID2 = H2.ID  
            join  (Select ID1 NLID1, ID2 NLID2, Highschooler.name name3, Highschooler. grade  grade3 
            from Likes join Highschooler on NLID2 = Highschooler.ID) on Likes.ID2  = NLID1 and NLID2 <> Likes.ID1 order by H1.grade, H1.name;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Andrew', 10, 'Cassandra', 9, 'Gabriel', 9)

- Find those students for whom all of their friends are in different grades from themselves. Return the students' names and grades.

In [20]:
sql_str = ''' Select H1.name, H1.grade  
            from (Select distinct ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend) 
            join Highschooler H1 on ID_11 = H1.ID  join Highschooler H2 on ID_21 = H2.ID where ID_11  not in 
            (Select ID1_   from  (Select distinct ID1 ID1_, ID2 ID2_ from Friend union Select ID2 ID1_, ID1 ID2_ from Friend) 
            join Highschooler  H1_ on ID1_ = H1_.ID  join Highschooler  H2_  on ID2_ = H2_.ID where H1_.grade = H2_.grade) 
            group by ID_11  having Count(distinct H2.grade) = Count(H2.grade);'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Austin', 11)

- What is the average number of friends per student? (Your result should be just one number.)

In [21]:
sql_str = ''' Select (G1+0.00000)/(G2+0.00000)   from (Select Count(*)  G1, count(distinct  ID_11)  G2  
            from (Select distinct ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend));'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

(2.5,)

- Find the number of students who are either friends with Cassandra or are friends of friends of Cassandra. Do not count Cassandra, even though technically she is a friend of a friend.

In [23]:
sql_str = ''' Select count(distinct  ID_D)  from  (Select distinct  ID_D from  (Select distinct ID1 ID_C, ID2 ID_D 
            from Friend union Select ID2 ID_C, ID1 ID_D from Friend)  where ID_C in (select ID 
            from Highschooler  where name like 'Cassandra') union Select distinct  ID_DD  
            from (Select distinct ID1 ID_DC_, ID2 ID_DD from Friend union Select ID2 ID_DC_, ID1 ID_DD from Friend) where ID_DC_ in (select ID_D 
            from (Select distinct ID1 ID_C, ID2 ID_D from Friend union Select ID2 ID_C, ID1 ID_D from Friend)  
            where ID_C in (select ID from Highschooler  where name like 'Cassandra')) )  where  ID_D not in (select ID from Highschooler  
            where name like 'Cassandra') ;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

(7,)

- Find the name and grade of the student(s) with the greatest number of friends.

In [24]:
sql_str = ''' Select name, grade from (Select distinct  ID_1, Count(ID_2)  KK2  
        from  (Select distinct ID1 ID_1, ID2 ID_2 from Friend union Select ID2 ID_1, ID1 ID_2 from Friend 
        order by ID_1, ID_2) group by ID_1)  join Highschooler H1 on ID_1 = H1.ID  
        where  KK2 in (Select max(KK) from (Select distinct  Count(ID_2)  KK  
        from  (Select distinct ID1 ID_1, ID2 ID_2 from Friend union Select ID2 ID_1, ID1 ID_2 
        from Friend order by ID_1, ID_2) group by ID_1)) order by name ;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Alexis', 11)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)