

# SQLite examples

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [1]:
import sqlite3 as sqlite3
from creating_table import creating_table

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## SQL Movie-Rating Query Exercises
### Tables:
- 1. Movie ( mID, title, year, director ) 
- 2. Reviewer ( rID, name ).
- 3. Rating ( rID, mID, stars, ratingDate ).

### 1.Creating tables:

In [2]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()
creating_table("Movie.txt", cursor, connection)
creating_table("Reviewer.txt", cursor, connection)
creating_table("Rating.txt", cursor, connection)
rows = cursor.execute("SELECT * FROM Movie;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Reviewer;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Rating;", "").fetchone()
print(rows)

(101, 'Gone with the Wind', 1939, 'Victor Fleming')
(201, 'Sarah Martinez')
(201, 101, 2, '2011-01-22')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## 2.  Examples:

- Find the titles of all movies directed by Steven Spielberg.

In [4]:
sql_str = '''Select distinct title from Movie Where (director like '%Steven%') and  (director like '%Spielberg%');'''
cursor.execute(sql_str).fetchone()
print(rows)

(201, 101, 2, '2011-01-22')

- Find all years that have a movie that received a rating of 4 or 5, and sort them in increasing order.

In [6]:
sql_str = ''' Select distinct year from Movie, Rating where (stars >= 4 and stars <=5) and Movie.mID = Rating.mID  order by year  ASC;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

(1937,)

- Find the titles of all movies that have no ratings.

In [8]:
sql_str = ''' Select distinct title from Movie where mID not in (Select distinct mID from Rating);'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Star Wars',)

- Some reviewers didn't provide a date with their rating. Find the names of all reviewers who have ratings with a NULL value for the date.

In [9]:
sql_str = ''' Select name from Reviewer where rID in (Select distinct  rID from Rating where ratingDate is NULL);'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Daniel Lewis',)

- Write a query to return the ratings data in a more readable format: reviewer name, movie title, stars, and ratingDate. Also, sort the data, first by reviewer name, then by movie title, and lastly by number of stars.

In [10]:
sql_str = ''' Select Reviewer.name, Movie.title, Rating.stars, Rating.ratingDate 
        From Rating, Movie, Reviewer  Where Rating.rID = Reviewer.rID and Rating.mID = Movie.mID 
        Order by Reviewer.name, Movie.Title, Rating.Stars;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Ashley White', 'E.T.', 3, '2011-01-02')

- For all cases where the same reviewer rated the same movie twice and gave it a higher rating the second time, return the reviewer's name and the title of the movie.

In [11]:
sql_str = ''' Select name, title from (Rating inner join (Select rID rIDgr, mID mIDgr, max(ratingDate)  maxDate, max(stars)  maxStars 
            from Rating group by rID, mID having count(stars) = 2 )  
            on rIDgr = Rating.rID and mIDgr = Rating.mID and maxDate = Rating.ratingDate and maxStars = Rating.stars)  
            join Reviewer  on Rating.rID = Reviewer.rID join Movie on Rating.mID = Movie.mID;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Sarah Martinez', 'Gone with the Wind')

- For each movie that has at least one rating, find the highest number of stars that movie received. Return the movie title and number of stars. Sort by movie title.

In [13]:
sql_str = ''' Select title, maxStar  from Movie inner join (select max(stars)  maxStar, mID mID_ from Rating group by mID ) 
            on Movie.mID = mID_  order by title;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Avatar', 5)

- For each movie, return the title and the 'rating spread', that is, the difference between highest and lowest ratings given to that movie. Sort by rating spread from highest to lowest, then by movie title.

In [15]:
sql_str = ''' Select title, spread from Movie, (Select max(stars)-min(stars)  spread, mID mIDs from Rating group by Rating.mID )  
            where Movie.mID = mIDs order by spread desc, title;'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

('Avatar', 2)

- Find the difference between the average rating of movies released before 1980 and the average rating of movies released after 1980. (Make sure to calculate the average rating for each movie, then the average of those averages for movies before 1980 and movies after. Don't just calculate the overall average rating before and after 1980.)

In [17]:
sql_str = ''' Select Sum(CASE WHEN before1980 = 1 THEN av_movieA ELSE 0 END)- Sum(CASE WHEN before1980 = 0 THEN av_movieA ELSE 0 END) 
            from  (Select  avg(av_movie) av_movieA , before1980 from( Select Rating.mID, avg(stars) av_movie, year < 1980 before1980 
            from Rating left  join Movie on Movie.mID = Rating.mID where Movie .year <> 1980 group by Rating.mID )  group by before1980);'''
rows = cursor.execute(sql_str).fetchone()
print(rows)

(0.05555555555555536,)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)