

# SQLite examples

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [1]:
import sqlite3 as sqlite3
from creating_table import creating_table

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## SQL SQL Movie-Rating Modification Exercises
### Tables:
- 1. Movie ( mID, title, year, director ) 
- 2. Reviewer ( rID, name ).
- 3. Rating ( rID, mID, stars, ratingDate ).
### 1.  Creating tables:

In [5]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()
creating_table("Movie.txt", cursor, connection)
creating_table("Reviewer.txt", cursor, connection)
creating_table("Rating.txt", cursor, connection)
rows = cursor.execute("SELECT * FROM Movie;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Reviewer;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Rating;", "").fetchone()
print(rows)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## 2.  Examples:

- Add the reviewer Roger Ebert to your database, with an rID of 209.

In [3]:
sql_str = '''insert into Reviewer values(209, 'Roger Ebert');'''
cursor.execute(sql_str)
rows = cursor.execute("SELECT * FROM Reviewer where rID = 209;", "").fetchone()
print(rows)

(209, 'Roger Ebert')

- For all movies that have an average rating of 4 stars or higher, add 25 to the release year. (Update the existing tuples; don't insert new tuples.)

In [4]:
sql_str = ''' Update Movie set year = year + 25 where mID in (Select mID from Rating group by mID having avg(stars) >= 4);'''
cursor.execute(sql_str)
rows = cursor.execute("SELECT * FROM Movie where mID in (Select mID from Rating group by mID having avg(stars) >= 4);", "").fetchone()
print(rows)

(106, 'Snow White', 1962, None)

- Remove all ratings where the movie's year is before 1970 or after 2000, and the rating is fewer than 4 stars.

In [5]:
sql_str = ''' Delete from  Rating where mID in (Select mID from Movie where year < 1970 or year >2000)  and stars < 4;'''
cursor.execute(sql_str).fetchone()
rows = cursor.execute("SELECT * FROM Rating where mID in (Select mID from Movie where year < 1970 or year >2000)  and stars < 4;", "").fetchone()
print(rows)

None

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)