

# SQLite examples

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [8]:
import sqlite3 as sqlite3
from creating_table import creating_table

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## SQL Social-Network Modification Exercises
### Tables:
- 1. Highschooler ( ID, name, grade )
- 2. Friend ( ID1, ID2 )  The student with ID1 is friends with the student with ID2. Friendship is mutual, so if (1, 5) is in the Friend table, so is (5, 1).
- 3. Likes ( ID1, ID2 )  Liking someone is not necessarily mutual.

### 1.Creating tables:

In [9]:
connection = sqlite3.connect(":memory:")
cursor = connection.cursor()
creating_table("Friend.txt", cursor, connection)
creating_table("Likes.txt", cursor, connection)
creating_table("Highschooler.txt", cursor, connection)

In [10]:
rows = cursor.execute("SELECT * FROM Highschooler;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Friend;", "").fetchone()
print(rows)
rows = cursor.execute("SELECT * FROM Likes;", "").fetchone()
print(rows)

(1510, 'Jordan', 9)
(1510, 1381)
(1689, 1709)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## 2.  Examples:

- Remove all 12th graders from Highschooler.

In [6]:
sql_str = '''Delete from Highschooler where grade = 12;'''
cursor.execute(sql_str)
rows = cursor.execute("Select * from Highschooler where grade = 12").fetchone()
print(rows)

None

- If two students A and B are friends, and A likes B but not vice-versa, remove the Likes tuple.

In [11]:
# verification - if exist that 
rows = cursor.execute('''Select * from Likes where (ID1,ID2)   in  (Select Likes.ID1, Likes.ID2 
from (Likes join (Select ID11, ID21 from (Select ID11, ID21, nn  from (Select ID1 ID11, ID2 ID21, 1 nn from Likes union Select ID2 ID11, ID1 ID21, 2 nn  
from Likes order by ID11, ID21)  group by ID11, ID21 having count(nn)< 2) where nn = 1) on Likes.ID1 = ID11 and Likes.ID2 = ID21)  
join (Select ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend) on Likes.ID1 = ID_11 and Likes.ID2 = ID_21) ;''').fetchone()
print(rows)
# delete
sql_str = ''' Delete from Likes where (ID1,ID2)   in  (Select Likes.ID1, Likes.ID2 
from (Likes join (Select ID11, ID21 from (Select ID11, ID21, nn  from (Select ID1 ID11, ID2 ID21, 1 nn from Likes union Select ID2 ID11, ID1 ID21, 2 nn  
from Likes order by ID11, ID21)  group by ID11, ID21 having count(nn)< 2) where nn = 1) on Likes.ID1 = ID11 and Likes.ID2 = ID21)  
join (Select ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend) on Likes.ID1 = ID_11 and Likes.ID2 = ID_21) ;'''
cursor.execute(sql_str)
# verification after deletion
rows = cursor.execute('''Select * from Likes where (ID1,ID2)   in  (Select Likes.ID1, Likes.ID2 
from (Likes join (Select ID11, ID21 from (Select ID11, ID21, nn  from (Select ID1 ID11, ID2 ID21, 1 nn from Likes union Select ID2 ID11, ID1 ID21, 2 nn  
from Likes order by ID11, ID21)  group by ID11, ID21 having count(nn)< 2) where nn = 1) on Likes.ID1 = ID11 and Likes.ID2 = ID21)  
join (Select ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend) on Likes.ID1 = ID_11 and Likes.ID2 = ID_21) ;''').fetchone()
print(rows)

(1911, 1247)
None

- For all cases where A is friends with B, and B is friends with C, add a new friendship for the pair A and C. Do not add duplicate friendships, friendships that already exist, or friendships with oneself. (This one is a bit challenging; congratulations if you get it right.)

In [13]:
# verification - if exist that 
rows = cursor.execute('''Select distinct ID_11, ID_22 from (Select ID_11,  ID_21, ID_22, ID_23  
        from ((Select distinct ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend)   
        join (Select distinct ID1 ID_12, ID2 ID_22 from Friend union Select ID2 ID_12, ID1 ID_22 from Friend) on ID_21 = ID_12) left 
        outer join  (Select distinct ID1 ID_13, ID2 ID_23 from Friend union Select ID2 ID_13, ID1 ID_23 from Friend)  on ID_11 = ID_13 and  ID_22= ID_23  
        where ID_11 <> ID_22  order by ID_11,  ID_21, ID_22) where ID_23 is null ;''').fetchone()
print(rows)
sql_str = ''' Insert into Friend Select distinct ID_11, ID_22 from (Select ID_11,  ID_21, ID_22, ID_23  
        from ((Select distinct ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend)   
        join (Select distinct ID1 ID_12, ID2 ID_22 from Friend union Select ID2 ID_12, ID1 ID_22 from Friend) on ID_21 = ID_12) left 
        outer join  (Select distinct ID1 ID_13, ID2 ID_23 from Friend union Select ID2 ID_13, ID1 ID_23 from Friend)  on ID_11 = ID_13 and  ID_22= ID_23  
        where ID_11 <> ID_22  order by ID_11,  ID_21, ID_22) where ID_23 is null ;'''
cursor.execute(sql_str)
# verification after deletion
rows = cursor.execute(''' Select distinct ID_11, ID_22 from (Select ID_11,  ID_21, ID_22, ID_23  
        from ((Select distinct ID1 ID_11, ID2 ID_21 from Friend union Select ID2 ID_11, ID1 ID_21 from Friend)   
        join (Select distinct ID1 ID_12, ID2 ID_22 from Friend union Select ID2 ID_12, ID1 ID_22 from Friend) on ID_21 = ID_12) left 
        outer join  (Select distinct ID1 ID_13, ID2 ID_23 from Friend union Select ID2 ID_13, ID1 ID_23 from Friend)  on ID_11 = ID_13 and  ID_22= ID_23  
        where ID_11 <> ID_22  order by ID_11,  ID_21, ID_22) where ID_23 is null ;''').fetchone()
print(rows)

(1025, 1304)
(1025, 1316)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)